#panelVBox {
    -fx-alignment:  center;
    -fx-background-image: url("/images/eleccionCaminosCap2.png");
    -fx-background-repeat:  no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFD700; /* dorado */
    -fx-background-color: linear-gradient(#4A0909, #000000);
    -fx-background-radius: 10;
    -fx-border-color: #FFD700;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(#660000, #1A0000);
    -fx-text-fill: #FFFFFF;
}

.label-titulo {
    -fx-text-fill: #f6f7f8;
    -fx-effect: dropshadow(gaussian, black, 5, 0.5, 0, 0);
}