#panelSP {
    -fx-alignment:  center;
    -fx-background-color: #000;
    -fx-background-repeat:  no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

#fraseLabel {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
}