#panelAP {
    -fx-background-color: #0007;
}

.label {
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
    -fx-font-size: 30px;
}

.button {
    -fx-font-weight: bold;
    -fx-text-fill: #FFD700; /* dorado */
    -fx-background-color: linear-gradient(#4A0909, #000000);
    -fx-background-radius: 10;
    -fx-border-color: #FFD700;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;
    -fx-font-size: 24px;
}

.button:hover {
    -fx-background-color: linear-gradient(#660000, #1A0000);
    -fx-text-fill: #FFFFFF;
}