/* Centrado vertical y horizontal del contenido */
#panelReglas {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo de la barra de navegación */
.panelNavegacion {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.botonMenu {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFD700; /* dorado */
    -fx-background-color: linear-gradient(#4A0909, #000000);
    -fx-background-radius: 10;
    -fx-border-color: #FFD700;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;
}

.botonMenu:hover {
    -fx-background-color: linear-gradient(#660000, #1A0000);
    -fx-text-fill: #FFFFFF;
}

.titulo {
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

.contenido {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
